@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Tex;
    src: url(./fonts/texgyreheros-regular.otf);
}
@font-face {
    font-family: Timeburner;
    src: url(./fonts/TimeburnerBold-peGR.ttf);
}

html, body {
    font-family: 'Tex', sans-serif;
    overflow-x: hidden;
}
.logo {
    font-family: 'Timeburner', sans-serif;
}

.chevron {
    animation: down 1.4s infinite;
}
@keyframes down {
    0% { opacity: 0; top: 0px; }
    50% { opacity: 1; top: 5px; }
    100% { opacity: 0; top: 10px; }
}

.slick-track {
    display: flex !important;
    align-items: center;
}